extends layout

block content
  <h1 align="center">Student Portfolio System</h1>


  nav.navbar.navbar-inverse(data-spy='affix', data-offset-top='197')
  .container-fluid
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
      span.icon-bar
      span.icon-bar
      span.icon-bar
      a.navbar-brand(href='#') Student Profile System
      div
      #myNavbar.collapse.navbar-collapse



  if (!user)
    .container
      .jumbotron
        a(href="/login")
          button.btn.btn-primary(type="button",style='width:250px;height:120px;',text-align:center;) <h1> Login </h1>
          //<h3> Login </h3>1
        //img(id='add-razaoSocial', class='input-img', src='f5e970825b79209d9a14e3f6e31cc3e2')
        br
        br
        a(href="/register")
          button.btn.btn-info(type="button",style='width:270px;height:120px;',text-align:center; ) <h1> Register </h1>
        br
        br
        a(href="/portfolioview")
          button.btn.btn-default(type="button",style='width:700px;height:120px;',text-align:center;)  <h1> View student Portfolios </h1>
        // <h3> Register </h3>
          //form(action="/upload", method="post", enctype="multipart/form-data")
        //    input(type="text", name="title")
        //    input(type="file", multiple, name="image")
        //    button(type="submit", value="Upload") Upload File
  if (user)
    .container
      .jumbotron
        h2 You are currently logged in as #{user.username}
        br
        a(href="/portfolio")
          button.btn.btn-info(type="button",style='width:120px;height:70px;',text-align:center;)  Create Portfolio
        &nbsp;
        a(href="/portfolioscreen")
          button.btn.btn-info(type="button",style='width:140px;height:70px;',text-align:center;)  Add a Screenshot
        &nbsp;
        a(href="/portfolioview")
          button.btn.btn-info(type="button",style='width:170px;height:70px;',text-align:center;)  View student Portfolios
        hr
        a(href="/logout")
          button.btn.btn-danger(type="button",style='width:120px;height:70px;',text-align:center;)  Logout
          //<h3> Logout </h3>
